@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("../media/iconfont.ttf?t=1627966400768") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\eed9";
}

.icon-shipin:before {
  content: "\eee2";
}

.icon-shoucang:before {
  content: "\eeeb";
}

.icon-cunchu:before {
  content: "\eeec";
}
